// Utils
@import './utils/reset';
@import './utils/base';

@import './components/header';
@import './components/hero';
@import './components/how-it-works';
@import './components/lottery';
@import './components/upcoming';
@import './components/biggest-lottery';
@import './components/latest-winners';
@import './components/footer';
