@media screen and (max-width: 1199.92px) {
  .faq {
    display: none;
  }
}

.faq {
  padding-top: 75px;
}

.faq h2 {
  margin-bottom: 30px;
}

.faq select {
  margin-bottom: 10px;
  width: 775px;

  padding: 15px 0 20px 20px;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.3;

  color: #0061a3;

  border-bottom: 1px solid #e0e0e0;
}
