.upcoming-section {
  padding-top: 32px;
}

.upcoming-button {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 343px;

  padding: 13px 34px;

  background-color: #f30000;
  color: #fff;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;

  border-radius: 8px;
  border: none;
}

.upcoming-button::after {
  content: '';
  display: block;
  position: absolute;

  left: 0;
  top: 54.31px;

  width: 343px;
  height: 1px;

  background: #d9d9d9;
}

.upcoming-list {
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;

  gap: 16px;
  --item: 2;
}

.upcoming-list-item {
  position: relative;
  padding: 16px 8px 10px 8px;

  display: flex;
  flex-direction: column;
  align-items: center;

  flex-basis: calc((100% - var(--indent) * (var(--item) - 1)) / var(--item));

  border: 1px solid #e0e0e0;
  border-radius: 8px;
}

.upcoming-list-item::before {
  content: '';
  background-image: url(../images/mobile/upcoming/icon-star.svg);
  width: 12px;
  height: 12px;

  position: absolute;
  top: 8px;
  right: 8px;

  display: block;
}

.circle {
  margin-bottom: 12px;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #e0e0e0;
}

.mega-millions-wrapper {
  margin-bottom: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
  text-transform: uppercase;
}

.mega-millions-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;

  text-align: center;

  margin-bottom: 8px;
}

.mega-millons-timer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  margin-bottom: 8px;
}

.mega-millons-timer svg {
  fill: #0061a3;
}

.mega-millons-timer p {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;

  color: #0061a3;
}

.mega-millons-button {
  max-width: 139px;
  padding: 6px 36px;

  background-color: #f7d300;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  border-radius: 8px;
  border: none;
}

.mega-millions-lotteries-link {
  margin-top: 12px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  text-decoration-line: underline;

  text-align: right;
  display: block;

  /* blue */

  color: #0061a3;
}

@media (min-width: 1200px) {
  .upcoming-section {
    padding-top: 75px;
  }

  .upcoming-button {
    max-width: 1200px;
    width: 100%;
  }
  .upcoming-list {
    --item: 5;
  }
  .upcoming-list-item {
    flex-basis: calc((100% - var(--indent) * (var(--item) - 1)) / var(--item));
  }
}
