:root {
  --item: 1;
  --indent: 16px;
}

body {
  font-family: 'Roboto', sans-serif;
}

.section {
  @media screen and(min-width:1200px) {
  }
}

.container {
  margin-left: auto;
  margin-right: auto;

  padding: 0 16px;

  @media screen and (max-width: 1199.92px) {
    width: 375px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding: 0 15px;
  }
}

.desktop-container-lottery {
  @media screen and (max-width: 1199.92px) {
    width: 375px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .lottery-and-winners-desktop-wrapper {
    display: flex;
    gap: 15px;

    width: 1200px;
    padding: 0 15px;

    padding-top: 75px;

    margin-left: auto;
    margin-right: auto;
  }
}
